# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
obj/
*.egg-info/
.installed.cfg
*.egg
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.pyc
*.pyo
*.pyd
pip-wheel-metadata/
*.dist-info/
*.par/
*.pth
*.egg-info/
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.venv
env.bak
venv.bak
.env.local
.env.development.local
.env.test.local
.env.production.local

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# mkdocs documentation
site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pyright type checker
.pyright/
